body {
    font-family: 'Barlow', sans-serif;
    background-color: rgb(46, 46, 53);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (min-width: 700px) {
    .logo {
        width: 50%;
        min-height: 620px;
        min-width: 30%;
    }
}

@media (min-width: 700px) {
    .content {
        width: 50%;
    }
}

.content {
    display: flex;
    text-align: center;
    align-content: center;
    background-color: whitesmoke;

    width: 100%;
    max-height: auto;
    max-width: 1600px;
}

.logo {
    background-image: url(pics/chris-ried-ieic5Tq8YMk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;

}

.form-side {
    text-align: left;
    padding: 60px 0px;
}

#message {
    font-weight: 500;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
}

h1 {
    font-size: 20px;
    color: rgb(126, 53, 221);
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    background-color: white;
    box-shadow: 0px 5px #8888883a;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
}

label {
    display: block;
}

button {
    padding: 14px 18px;
    background-color: rgb(126, 53, 221);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    margin: 25px 30px;
}

.log-in {
    margin: 25px 30px;
}

a{
    color: orangered;
    text-decoration: none;
}

input {
    border: 1px solid rgb(158, 158, 158);
    border-radius: 3px;
    outline: none;
}

input:focus {
    box-shadow: 3px 3px #2675eb79;
}

input:invalid:not(:focus):not(:placeholder-shown) {
    box-shadow: none;
    border: 1px solid red;
}




